{% extends "layout.html" %}
{% block content %}
<div class="cover-container">
		<h1>Thank you for your feedback!</h1>
			<img src="../static/images/thanks.png" class="image-thanks" alt="Thanks!" style="margin-top: 30px;"/>　
		<div class='button'>
			<form action="/">
				<input type=submit value='Submit another review' class="btn btn-lg btn-default" style="margin-top: 40px; margin-bottom: 40px;">
			</form>
		</div>

		<div class="mastfoot" style="margin-left: auto; margin-right: auto;">
			<div class="inner">
				<p>made by <a href="http://toshi-kun.com">Toshimitsu Kugimoto</a>. Twitter: <a href="https://twitter.com/tottiiiiiii">@tottiiiiiii</a>.</p>
			</div>
		</div>
	</div>
{% endblock %}
